.Hangman {
  width: 400px;
  color: black;
  text-align: center;
}

.Hangman img {
  width: 150px;
}

.Hangman h1 {
  font-size: 4rem;
  font-weight: 100;
  margin-bottom: 0.1em;
  margin-top: 0;
}

.Hangman-word {
  letter-spacing: 1em;
  margin: 0.4em -1em 0.2em 0;
  font-size: 2rem;
}

.Hangman-btns {
  text-align: center;
  display: inline-block;
  width: 250px;
  margin-top: 0;
}

.Hangman button {
  display: inline-block;
  border: none;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  margin: 5px 2px 2px 2px;
  letter-spacing: 1px;
  outline: none;
  background: #cec4b9;
  color: #fff;
  box-shadow: 0 6px #a8a29d;
  border-radius: 5px;
  padding-top: 4px;
}

.Hangman button:hover {
  background-color: #ceb99a;
}

.Hangman button:disabled {
  background: #6e685e;
  color: #eeeeee;
  box-shadow: 0 6px #3a3834;
}

#Restart {
  display: block;
  margin-left: auto;
  margin-right: auto;
}